<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Website{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    {% bootstrap_javascript %}
    {% load i18n %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
<!-- Topbar Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row g-0 d-none d-lg-flex">
        <div class="col-lg-6 ps-5 text-start">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border-color: transparent; color: #ffffff;">
                    {% trans "Dil" %}
                </button>

                <ul class="dropdown-menu" aria-labelledby="languageDropdown" style="z-index: 9999">
                    <li><a class="dropdown-item" href="?lang=en">English</a></li>
                    <li><a class="dropdown-item" href="?lang=tr">Turkçe</a></li>
                    <li><a class="dropdown-item" href="?lang=ar">عربي</a></li>

                    <!-- Add more language options as needed -->
                </ul>
            </div>
        </div>
        <div class="col-lg-6 text-end">
            <div class="h-100 topbar-right d-inline-flex align-items-center text-white py-2 px-5">
                <a href="tel:02122200808" class="text-white fs-5 fw-bold me-2">
                    <i class="fa fa-phone fa-fw"></i>
                </a>
                <a href="https://wa.me/905321759884" class="text-white fs-5 fw-bold me-2">
                    <i class="fab fa-whatsapp fa-fw"></i>
                </a>
                <a href="mailto:bilgi@passelektronik.com.tr" class="text-white fs-5 fw-bold">
                    <i class="fa fa-envelope fa-fw"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
    <a href="{% url 'home' %}" class="navbar-brand ps-5 me-0">
        <h1 class="text-white m-0"><img src="{% static 'img/pass.png' %}" alt="Pass Elektronik" style="width: 150px"></h1>
    </a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'about_us' %}" class="nav-item nav-link">{% trans "Hakkımızda" %}</a>
<!--            <a href="{% url 'urunler' %}" class="nav-item nav-link">{% trans "Ürünler" %}</a>-->
            <a href="{% url 'hizmetler' %}" class="nav-item nav-link">{% trans "Hizmetler" %}</a>
        </div>

        <a href="{% url 'iletsim' %}" class="btn btn-primary px-3 d-none d-lg-block">{% trans "İletişim" %}</a>
    </div>
</nav>


{% block content %}
{% endblock %}




<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">{% trans "Ofisimiz" %}</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{% trans "H.RIFAT PAŞA MH.YÜZER HAVUZ SK PERPA TİC MER A BLOK NO:1/664 / ŞİŞLİ" %}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0212 220 0808</p>
                <p class="mb-2"><i class="fab fa-whatsapp me-3"></i>+90 532 175 9884</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>bilgi@passelektronik.com.tr</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">{% trans "Hızlı Bağlantılar" %}</h5>
                <a class="btn btn-link" href="{% url 'hizmetler' %}">{% trans "Hizmetler" %}</a>
                <a class="btn btn-link" href="">{% trans "Ürünler" %}</a>
                <a class="btn btn-link" href="{% url 'about_us' %}">{% trans "Hakkımızda" %}</a>
                <a class="btn btn-link" href="{% url 'iletsim' %}">{% trans "İletişim" %}</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">{% trans "Çalışma Saatleri" %}</h5>
                <p class="mb-1">{% trans "Pazartesi - Cuma" %}</p>
                <h6 class="text-light">09:00 - 18:30</h6>
                <p class="mb-1">{% trans "Cumartesi" %}</p>
                <h6 class="text-light">09:00 - 13:00</h6>
                <p class="mb-1">{% trans "Pazar" %}</p>
                <h6 class="text-light">{% trans "Kapalı" %}</h6>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container text-center">
        <p class="mb-2">{% trans "Tüm Hakları Saklıdır &copy;" %} <a class=\'fw-semi-bold\' href=#>{% trans "PASS ELEKTRONİK VE BİLİŞİM SİSTEMLERİ SANAYİ VE TİCARET LİMİTED ŞİRKETİ" %}</a></p>
    </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
    <i class="material-icons">arrow_upward</i>
</a>
<div class="icon-bar">
    <a href="tel:02122200808" class="phone-side-bar">
        <i class="fa fa-phone fa-fw"></i>
        <span class="contact-info">Phone: 0212 220 0808</span>
    </a>
    <a href="https://wa.me/905321759884" class="whatsapp-side-bar">
        <i class="fab fa-whatsapp fa-fw"></i>
        <span class="contact-info">WhatsApp: +90 532 175 9884</span>
    </a>
    <a href="mailto:bilgi@passelektronik.com.tr" class="email-side-bar">
        <i class="fa fa-envelope fa-fw"></i>
        <span class="contact-info">Email: bilgi@passelektronik.com.tr</span>
    </a>
</div>



</body>
</html>
